<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Exercise (20-07-2025)</title>
    <link rel="stylesheet" href="/static/css/practice1.css">
</head>
<body>
    <nav class="nav-bar">
        <h2>Student Marks info</h2>
    </nav>
    <table border="1">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Marks Obtained</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.marks}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</body>
</html>